.page-content{
	min-height: calc(100vh - 120px);
}
#navTitle{
	margin:0;
	text-align: center;
	font-size: 25px;
}

.boxes div{
	height: 150px;
	border:1px solid;
	margin-top: 15%
}

.page-footer{
	text-align: center;
}

.concatenate{
	background-color: #ee6e73 !important;
}

.niceTransitionRight{
	background-color: #ee6e73;
}

.niceTransitionLeft{
	background-color: #26a69a;
}

footer{
	height: 120px;
}